name: Import CloudNativePG Docs

on:
  repository_dispatch:
    types: [cnpg-docs-release]
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag of the CloudNativePG release to import docs for'
        required: true
        type: string

permissions:
  contents: write

jobs:
  import:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.event.client_payload.tag || github.event.inputs.tag }}
    steps:
      - name: Checkout docs repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
          token: '${{ secrets.REPO_PAT }}'
      - name: Import docs
        run: |
          echo "Importing CloudNativePG docs for version: ${{ env.VERSION }}"
          ./scripts/import_docs.sh "${{ env.VERSION }}"
      - name: Commit and push changes
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        with:
          message: "docs: import CloudNativePG ${{ env.VERSION }}"
